@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;

  background: linear-gradient(
    to bottom right,
    #0b1120,
    #111827,
    #0f172a
  );

  color: #e5e7eb;

  min-height: 100vh;
}